.fruit-section {
  width: 80%;
  margin: 50px auto;
  border: 1px solid black;
  display: flex;
 

  img {
    object-fit: fill;
    height: 400px;
    width: 400px;
  }
}

.fruit-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;

  .nutrition-info {
    ul {
      display: flex;
      justify-content: space-between;
      margin-right: 50px;
      list-style: none;
    }
  }
}
